{% extends 'layouts/main.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
			<section class="container">
				<h1>Home</h1>
				<p>
					Hi, there!
				</p>
			</section>
{% endblock %}
