<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>{% block title %}Forums{% endblock %}</title>
		{{ encore_entry_link_tags('app') }}
		{{ encore_entry_script_tags('app') }}
{% block head %}{% endblock %}
	</head>
	<body>
{% block before %}{% endblock %}
		<header>
			<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
				<div class="container-fluid">

					<a class="navbar-brand" href="/">Throwback</a>

					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navContent" aria-controls="navContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>

					<div class="collapse navbar-collapse" id="navContent">
						<ul class="navbar-nav me-auto mb-2 mb-lg-0">
							<li class="nav-item">
								<a class="nav-link" href="/">Home</a>
							</li>
						</ul>
					</div>

				</div>
			</nav>
		</header>
		<main>
{% block body %}{% endblock %}
		</main>
		<footer class="bg-light">
			<div class="container py-2">
				<div class="row">
					<div class="col text-center">
						<a href="/privacy">Privacy Policy</a>
					</div>
				</div>
			</div>
		</footer>
{% block after %}{% endblock %}
	</body>
</html>